.stColumn.st-emotion-cache-7i1wy.e6rk8up2 {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(248, 249, 251);
}

.diagnosis {
    color: aliceblue;
    padding: 0.2em;
    border-radius: 0.5em;
}

.diagnosis.be {
    background-color: green;
}

.diagnosis.ma {
    background-color: red;
}

.percentage {

    overflow-wrap: break-word;
    margin: 0px;
    border-radius: 0.25rem;
    background: rgb(248, 249, 251);
    color: rgb(9, 171, 59);
    font-family: "Source Code Pro", monospace;
    font-size: 0.75em;
}

.red ~ .st-emotion-cache-15fru4.e1xskjyh0, .red ~ span.percentage {
    color: red !important;
}
